* {
  font-size: 10px;
  font-family: "open sans", sans-serif;
  background-color: #00539f;
}
body h1 {
  font-size: 60px;
}
body li,
p {
  font-size: 16px;
}

#heading {
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

p,
li {
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #f7ef99;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
.mainimg {
  display: block;
  margin: 0 auto;
  width: 275px;
}
